<p>
  life-cycle-hook works!
</p>
<ul>
  <li>
      <h2><a routerLink ="app-hook-after-content-init" routerLinkActive="active">NgAfterContentInit</a></h2>
  </li> 

  <li>
    <h2><a routerLink ="app-hook-after-content-checked" routerLinkActive="active">NgAfterContentChecked</a></h2>
</li> 
<li>
  <h2><a routerLink ="app-hook-after-view-init" routerLinkActive="active">NgAfterviewInit</a></h2>
</li> 
<li>
  <h2><a routerLink ="app-hook-after-view-checked" routerLinkActive="active">NgAfterviewChecked</a></h2>
</li> 
</ul>

<router-outlet></router-outlet> 